div {
    max-width: 1600px;
    margin: 0auto;
}
nav a{
    text-align: center;
    color: #d9c2a3;
    text-decoration: none;
}
h4 {
    color: #d9c2a3
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
    color: #d9c2a3
}
.book, .join {
    background-color: blanchedalmond;
    color: #d9c2a3;
    text-decoration: none;
}
.book:hoover, .join:hoover {
    background-color: antiquewhite;
    color: #d9c2a3
}
#background {
    background-color: blanchedalmond;
}
.msg {
    background-color: azure;
}
.msg h2 {
    color: #d9c2a3
}
.msg p {
    color: #d9c2a3
}
footer {
    background-color: cadetblue;
}
footer h3 {
    color: #d9c2a3;
    text-decoration: none;
}
footer a {
    color: #d9c2a3
}
footer a:hover {
    color: #d9c2a3
}
.icon {
    width: 80px
}